.left {
  float: left;
  padding-left: 1em;
  clear: none;
}

#annotate-me {
  border: 1px solid black;
}

.right {
  float: right;
  padding-right: 1em;
  padding-top: 0.5em;
  clear: none;
  font-size: 16pt;
  width: 50%;
}

.progress {
  font-style: italic;
}

.instructions {
  font-weight: bold;
}

.right li {
  padding-bottom: 0.5em;
}

.done,
.delete {
  float: right;
  margin-top: 2em;
  font-size: 16pt;
}

.delete {
  margin-right: 1em;
}

.image-container {
  position: relative;
}

.new-bbox {
  position: absolute !important; /* !important needed to override JQuery's selectable styles. */
  border: 1px solid red;
  cursor: move;
}

.ui-selectable-helper {
  border-color: red;
}

