<!DOCTYPE html>
<html>
  <head>
    <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/jquery.selectareas.css" rel="stylesheet">
    <!--[if lte IE 8]>
      <link href="/static/css/jquery.selectareas.ie8.css" rel="stylesheet">
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/static/css/draw_bbox.css" />

    <script>
    window.annotation_context = {{ img_data|safe }};
    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.selectareas.js"></script>
    <script type="text/javascript" src="/static/js/draw_bbox.js"></script>
  </head>

  <body>
    <form method="post" action="">
      {% csrf_token %}
      <input type="hidden" name="image_id" />
      <main>
        <div class="left">
          <h1>Draw boxes around clouds</h1>
          <div class="image-container"></div>
        </div>

        <div class="right">
          <p class="progress">Progress: {{ progress }}</p>

          <p class="instructions">Draw bounding boxes around clouds or groups of touching clouds in the image.</p>

          <p class="instructions">Instructions:</p>
          <ul>
            <li><b>Only mark an item as a cloud if you are sure it is a cloud.</b></li>
            <li>Include all visible parts, including any cloud shadows, and draw as tightly as possible on each cloud. It's okay for bounding boxes to overlap.</li>
            <li>If there are multiple clouds and they <b>directly</b> touch, draw the box around the group. If the entire image is basically covered in a cloud select the "All Cloud" checkbox below then press "Done".</li>
          </ul>

          <div class="all-cloud-container">
            <label for="all-cloud">All Cloud</label>
            <input type="checkbox" class="all-cloud" name="all-cloud" />
          </div>

          <button class="done" type="submit">Done</button>
        </div>

      </main>
    </form>
  </body>
</html>
