<!DOCTYPE html>
<html>
  <head>
    <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/draw_bbox.css" />

    <script>
    window.annotation_context = {{ img_data|safe }};
    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/draw_bbox.js"></script>
  </head>

  <body>
    <form method="post" action="">
      {% csrf_token %}
      <input type="hidden" name="image_id" />
      <main>
        <div class="left">
          <h1>Draw boxes around clouds</h1>
          <div class="image-container"></div>
        </div>

        <div class="right">
          <p class="instructions">Draw bounding boxes around clouds or groups of touching clouds in the image.</p>

          <p class="instructions">Instructions:</p>
          <ul>
            <li>Include all visible parts, including any cloud shadows, and draw as tightly as possible on each cloud.</li>
            <li>If there are multiple clouds and they <b>directly</b> touch, draw the box around the group.</li>
            <li>You should consider smoke (from fires, factories, etc.) as clouds as well.</li>
          </ul>


          <button class="done" type="submit">Done</button>
        </div>

      </main>
    </form>
  </body>
</html>
